{{define "subject"}}Mamoooo!{{end}}
{{define "plainBody"}}
Mamo,
Se latreyw
Eisai h kalyterh mama tou kosmou
Kai tha sagapw gia panta,

The AUThConnect Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Mamo,</p>
  <p>Se latreyw</p>
  <p>Eisai h kalyterh mama tou kosmou</p>
  <p>Kai tha sagapw gia panta,</p>
  <p>The AUThConnect Team</p>
</body>

</html>
{{end}}
