{{define "subject"}}[URGENT]: Balls inspection{{end}}
{{define "plainBody"}}
Mouta,

Bes auth!

The AUThConnect Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Mouta,</p>
  <p>Bes auth!</p>
  <p>The AUThConnect Team</p>
</body>

</html>
{{end}}
