<div class="mx-auto w-full justify-center space-y-6 sm:w-[350px]">
    <div class="space-y-2 text-center">
        <h1 class="text-2xl font-semibold tracking-tight">Sign In</h1>
        <p class="text-muted-foreground text-sm">Enter your email below to sign in</p>
    </div>
    <div class="grid gap-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label class="sr-only" for="email">
                Email
            </label>
            <input
                class="w-full border border-gray-300 rounded-lg p-2 my-2"
                placeholder="Email"
                type="email"
                id="email"
                placeholder="name@example.com"
                formControlName="email"
                autocomplete="off" />
            <label class="sr-only" for="password">
                Password
            </label>
            <input
                class="w-full border border-gray-300 rounded-lg p-2 my-2"
                placeholder="Password"
                type="password"
                id="password"
                formControlName="password"
                autocomplete="off" />
            <button
                [disabled]="isLoading()"
                class="w-full mt-2"
                type="submit">
                @if (isLoading()) {
                    <ng-icon name="lucideLoaderCircle" class="mr-2 animate-spin" />
                }
                @else{
                    Sign In
                }
                
            </button>
        </form>
        <div class="relative">
            <div class="absolute inset-0 flex items-center"><span class="w-full border-t"></span></div>
            <div class="relative flex justify-center text-xs uppercase">
                <span class="bg-background text-muted-foreground px-2">Or continue with</span>
            </div>
        </div>
        <button class="flex items-center justify-center" [disabled]="isLoading()">
            @if (isLoading()) {
              <ng-icon name="lucideLoaderCircle" class="mr-2 animate-spin" />
            } @else {
              <ng-icon class="mr-2" name="lucideGithub" />
            }
            <span class="sidenav-link-text">GitHub</span>
          </button>
    </div>
    <p class="text-muted-foreground sm:px-8 text-center text-sm">
        By clicking continue, you agree to our
        <a class="hover:text-primary cursor-pointer underline underline-offset-4">Terms of Service</a>
        and
        <a class="hover:text-primary cursor-pointer underline underline-offset-4">Privacy Policy</a>
        .
    </p>
</div>
